# Default ignored files
/shelf/
# Ignore all .xml files in the .idea folder and subfolders except the runConfigurations folder which stores the workspace preferences
/*.xml
/inspectionProfiles/*
!/.idea/runConfigurations/*
